# Dependencies
back/vendor/
front/node_modules/
node_modules/

# Environment
back/.env.local
back/.env.*.local

# Build
back/var/
front/dist/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
/back/config/jwt/private.pem
/back/config/jwt/public.pem
